#presentation{
    display: flex;
    flex-wrap: wrap;
    margin: 0px,5px,5px,5px;
}

#firstRow{
    display: flex;
    flex-wrap: wrap;
}

#secondRow{
    display: flex;
    flex-wrap: wrap;
}

#presentation .image{
    justify-content: flex-end;
    align-items: flex-end;
}

#presentation .item{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 20% !important;
}

#presentation .text{
    background: #333;
    justify-content: center;
    align-items: center;
}

#presentation .text p{
    color: #fff;
    font-size: 14px;
    font-family: "osBold";
    line-height: 20px;
    max-width: calc(100% - 60px);
    margin: 0px;
    word-wrap: break-word;
}

.image:hover  {
box-shadow:5px 5px 5px #000;
opacity: 50%;
transition: 1s;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



